body{
    background-color: black;
}


img{
    width: 60%;
    height:250px;
    position:absolute;
    left: 20%;
    top : 10%;
    
    
    
}

p {
   color: dimgray;
    font-family: Arial, Helvetica, sans-serif;

}

.sales {
    margin: auto;
    width: 35%;
    border: 3px solid black;
    padding: 10px;
    margin-top: 100px;
    border-style: dashed;
    text-align: center;
    background-color: burlywood;
    
}

li {
    list-style-position: inside;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: burlywood;
    text-align: center;
    font : 400 32px/40px Google Sans,Helvetica Neue,sans-serif;
}

#aa {
    color: burlywood;
    position: absolute;
    top : 1.5%;
    left : 1.5%;
    font : 400 32px/40px Google Sans,Helvetica Neue,sans-serif;
    text-decoration: none;
}

#right_img {
    width: 20%;
    height: 60%;
    position: absolute;
    top : 20%;
    left: 80%;
    bottom: 20%;
}

#left_img {
    width: 20%;
    height: 60%;
    position: absolute;
    top : 20%;
    left: 0%;
    bottom: 20%;
}

#sales_link {

    color: rgb(194, 126, 24);
    font-size: large;
    position: absolute;
    top: 60%;
    left: 45%;
    text-align: center;
    text-decoration: none;
}

#contact_div {
    position: absolute;
    right: 2%;
    top: 2%;
    text-align: center;
    
}
h3{
    color : burlywood;
    
}

.contact_li {
    list-style-position: inside;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact_a{
    color: rgb(194, 126, 24);
    text-decoration: none;
    margin-right: 50px;
}

#locations_div {
    text-align: center;
    position: absolute;
    left:50%;
    top:62%;
}

.location_li{
    color: rgb(194, 126, 24);
    font-family: Georgia, 'Times New Roman', Times, serif;
position: relative;
right: 25px;
font-family: Georgia, 'Times New Roman', Times, serif ;
}

#open {
    color: burlywood;
    position: absolute;
    left:2%;
    top:2%;
}
#intro{
    color: burlywood;
    position: absolute;
    left:43%;
    top:50%;
    text-align: center;
}

table{
    background-color: blanchedalmond;
    
} 


.td{
    color: black;
    border-style: solid ;
    border-color: black;
    
}

th{
    color: black;
    border-style: solid ;
    border-color: black;
}

#dd {
    border-style: dotted ;
    border-color: black;
    
    position:relative;
    left: 5%;
    top: 150px;
}
